*{
    margin: 0;
    padding: 0;
   
   
}
#body-event
{
  position: relative;
}
#main-loader
{
  position:fixed;
  top: 20%;
  left: 48%;
  z-index: 78;
  height: 100px;
}
.wrapper{
  position: relative;
  width: 100vw;
  background-color: rgb(220, 217, 222);
 
}
/* navbar */
nav{
  
  /* width: 90vw; */
  width:99vw;
  z-index: 10;
  
}
.navigation_links
{
  height: 30rem;
  width: 15rem;
  background: rgba(105, 105, 105, 0.4);
  z-index: 20;
  
  position: fixed;
 
  top: 20%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding-top:1rem ;
  padding-bottom: 1rem; */
  border: 1px solid dimgray;
  border-radius: 10px;
  box-shadow: 0 0 20px #27ae60;
 
}





.nav-button{
  position: absolute;
  box-sizing: border-box;
  right: 1rem;
 
}
.navbar
{  
  /* margin-top: -13rem;   */
    padding: 1rem 1rem;
    display: flex;
    z-index: 10;
    margin-right: -1rem;
   
    /* justify-content; */
    justify-content: space-between;

    align-items: center;
    background-color: dimgrey;
    box-shadow:0px 0px 10px chocolate;
    /* position:-webkit-sticky; */
    /* padding-right: 10rem; */
    width: full;
}


/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}



/* CSS */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}





.main-func
{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.logo
{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 600;
    font-size: xx-large;
     font-style: normal;
  color: whitesmoke;
   user-select: none;
   display: flex;
   justify-content: center;
   align-items: center;

}
.back
{
     /* display: none; */
     /* background-image: url("train2.jpg"); */
    background-color: rgb(220, 217, 222);
    /* background-color: white; */
    height:auto;
    position: relative;
    padding-bottom:2rem ;
    /* margin-top: -10rem; */
    
}

/* .welcome{
  display: flex;
  align-items: center;
  justify-content: center; 
  
   position: absolute;
  padding:1rem 1.5rem ;
   
     margin-top:-10rem ;
} */


.hero-head
{
  /* text-align: right; */
  /* max-width: 800px; */
/* height: auto; */
/* overflow-x: hidden; */
  margin-left: 2rem;
   /* margin-top: 30rem; */
   font-family: "Protest Guerrilla";
   font-weight: 400;
   font-style: normal;
   

   padding: 2rem 0rem 2rem 0rem ;
}
/* @media only screen and (max-width: 600px) {
  .hero-head {
    background-color: lightblue;
  }
} */


.wel-text
{
  margin-top: 6rem;
  /* max-width: 80vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
    /* background-color: dimgray; */
}
.wel-text h1
{
   text-align: center;
   font-size: 40px;
   font-family: "Protest Guerrilla";
   font-weight: 400;
   font-style: normal;

   padding: 2rem 0rem 2rem 0rem ;

}
.wel-text p{
    font-family: "Rubik", sans-serif;
    /* font-family: cursive; */
    padding-bottom: 2rem;
    font-optical-sizing: auto;
    color: dimgray;
    font-style: normal;
    font-size: 25px;
    max-width: 60vw;
    text-align: center;
    /* padding-left: 4rem;
    padding-right: 4rem; */
}
.chooseme
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding-top: 5rem;
}
.choose-head
{
    text-align: center;
    font-size: 40px;
    padding-bottom:2rem ;
    font-family: "Protest Guerrilla";
    font-weight: 400;
    font-style: normal;
}
.choose-list
{
    max-width: 550px;
    list-style: none;
}
.li-head
{
  font-family: "Rubik", sans-serif;
  padding-bottom: 1rem;
  font-size: 30px;
  line-height: 2rem;
  text-align: center;
}
.li-desc
{
  font-family: "Rubik", sans-serif;
font-size: 20px;
padding-bottom: 2rem;
text-align: center;
color: dimgray;
}
.foot{
  background-color: dimgray;
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-evenly;
}
.foot i:hover{
color: #27ae60;
transition: 0.35s;
}

.f-head
{
  font-size: 2rem;
  font-family: "Protest Guerrilla";
  padding: 1rem;
}
.social-media
{
  font-size: larger;
  color: gainsboro;
  display: flex;
  padding-left:1rem ;
  gap: 1.5rem;
}

.copyright
{
  padding: 2rem;
  font-size: large;
  font-family: "Rubik", sans-serif;
  color: whitesmoke;
}

/* slideshow */
/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  /* max-height: 40vh; */
  /* overflow: hidden; */
 
  object-fit: contain;
  position: relative;
  /* margin: auto; */
  margin-top: -1rem;
  /* padding-top: 1rem; */
  /* padding-bottom: 20rem; */
}

/* Hide the images by default */
.mySlides {
  display: flex;
  padding: 1rem 0rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: dimgray;
  position: relative;
  /* max-height: 300; */
  object-fit: cover;
}
.mySlides img {
  width: 60vw;
  border: 2px solid #27ae60;
  border-radius: 10px;
  object-fit: cover;
  max-height: 70vh;
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
}
.text {
  color: #fff;                 /* White text for high contrast */
  font-size: 1rem;             /* Slightly larger font for better readability */
  font-weight: bold;           /* Bold text to resemble signage */
  padding: 10px 20px;          /* Padding for more spacing around the text */
  position: absolute;
  bottom: 2rem;
  display: inline-block;       /* Ensures the width fits the content */
  margin: 0 auto;
  left: 50%;                   /* Centers it horizontally */
  transform: translateX(-50%); /* Shifts it back to the center based on its width */
  text-align: center;

  /* Background with railway sign colors */
  background: #002b5c;         /* Deep blue, similar to railway signs */
  border-radius: 8px;
  border: 2px solid #27ae60;   /* Green border for contrast */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  /* Slight shadow for depth */
  
  /* Optional subtle texture effect */
  background: linear-gradient(145deg, rgb(139, 136, 136), rgb(99, 96, 96));
}



/* Number text (1/3 etc) */
.numbertext {
 
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 10;
  left: 10;
}

/* The dots/bullets/indicators */
