*{
    margin: 0;
    padding: 0;
}
.wrapper{
  position: relative;
}
.navigation_links
{
  height: 30rem;
  width: 15rem;
  background: rgba(105, 105, 105, 0.4);
  z-index: 20;
  
  position: fixed;
  z-index: 10;
  top: 15%;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top:1rem ;
  padding-bottom: 1rem;
  border: 1px solid dimgray;
  border-radius: 10px;
  box-shadow: 0 0 20px #27ae60;
 
}

.nav-button{
  position: absolute;
  box-sizing: border-box;
  left: 30px;
}
.navbar
{  
  /* margin-top: -13rem;   */
  padding: 1rem 2rem;
    display: flex;
    z-index: 10;
    /* justify-content; */
    justify-content: space-between;

    align-items: center;
    background-color: dimgrey;
    box-shadow:0px 0px 10px red;
    /* position: static; */
    /* padding-right: 10rem; */
    /* width: 100vw; */
}


/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}



/* CSS */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}




/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  /* box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px; */
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}






@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.main-func
{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.logo
{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 600;
    font-size: xx-large;
     font-style: normal;
  color: whitesmoke;
   user-select: none;

}
.back
{
     /* display: none; */
     /* background-image: url("train2.jpg"); */
    background-color: rgb(220, 217, 222);
    /* background-color: white; */
    height:auto;
    position: relative;
    padding-bottom:2rem ;
    /* margin-top: -10rem; */
    
}

.welcome{
  display: flex;
   position: absolute;
    padding:  5rem 10rem;
    /* margin-top:-10rem ; */
}
.wel-text
{
    background-color: dimgray;
}
.wel-text h1
{
   text-align: center;
   font-size: 40px;
   font-family: "Protest Guerrilla";
   font-weight: 400;
   font-style: normal;

   padding: 2rem 0rem 2rem 0rem ;

}
.wel-text p{
    font-family: "Rubik", sans-serif;
    /* font-family: cursive; */
    padding-bottom: 2rem;
    font-optical-sizing: auto;
     color: white;
    font-style: normal;
    font-size: 25px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.chooseme
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding-top: 45rem;
}
.choose-head
{
    text-align: center;
    font-size: 40px;
    padding-bottom:2rem ;
    font-family: "Protest Guerrilla";
    font-weight: 400;
    font-style: normal;
}
.choose-list
{
    max-width: 550px;
    list-style: none;
}
.li-head
{
  font-family: "Rubik", sans-serif;
  padding-bottom: 1rem;
  font-size: 30px;
  text-align: center;
}
.li-desc
{
font-size: 20px;
padding-bottom: 2rem;
text-align: center;
color: dimgray;
}
.foot{
  background-color: dimgray;
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-evenly;
}

.f-head
{
  font-size: 2rem;
  font-family: "Protest Guerrilla";
  padding: 1rem;
}
.social-media
{
  font-size: larger;
  color: gainsboro;
  display: flex;
  padding-left:1rem ;
  gap: 1.5rem;
}

.copyright
{
  padding: 2rem;
  font-size: large;
  font-family: "Rubik", sans-serif;
  color: whitesmoke;
}